*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
body{
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(fundo.jpg);
    background-repeat:initial;
    background-attachment: fixed;
    background-size:cover;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 14vh;
}
.container1{ 
    display: flex;
}
nav ul {
    width: 75%;
    height: 14vh;
    padding-left: 20%;
    display: flex;
    align-items: center;
}
.Reviewers {
    margin-left: 10%;
    margin-top: 2%;
    width: 17%;
    height: 10vh;
    font-size: 5vh;
    text-decoration: none;
    color: white;
    text-shadow:  0 0 1vh purple, 0 0 3vh purple, 0 0 5vh purple, 0 0 10vh purple;
    transition: 0.8s;
}
.paginas{
    color: rgb(255, 255, 255);
    font-size:3vh;
    text-decoration: none;
    margin-right: 10vh;
}

.Reviewers:hover{
    scale: 1.05;
}
.paginas:hover{
    transition: 0.5s;
    text-decoration: underline;
    color:rgb(129, 24, 226) ;
}



.container2{
    margin-top: 5%;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
}
.description {
    margin-top: 5%;
    width: 50%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255); 
}
.des1 {
    width: 60%;
    margin: 0;
    height: 40%;
    text-align:left;
    font-family: 'Aclonica';
    font-size: 5vh;
}
.des2 {
    margin-bottom: 1vh;
    margin-left: 10%;
    width: 70%;
    text-align: left;
    font-size: 3vh;
}

.tabela {
    width: 50%;
    height: 100%;
}
.item img {
    border: 0.3vh solid #0B0A0A;
    width: 17.7vh;
    height:25.7vh;
    margin: 0vh 0vh 3vh 3vh;
    border-radius: 3vh;
    box-shadow: 10vh 0vh 8vh 10vh rgba(0, 0, 0, 0.3);
    
}



.container3{
    margin-top: 10%;
    width: 100%;
    height: 80vh;
    display: flex;
}
.description2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255); 
    
}
.des3{
    margin: 0;
    margin: 10vh 14vh;
    height: 20%;
    width: 70%;
    font-family: 'Aclonica';
    font-size: 6vh;
    filter: drop-shadow(-0.5vh 0.5vh 0.2vh black);
}
.des4{
    margin: -5vh 14vh;
    height: 20%;
    width: 70%;
    font-size: 3vh;
    filter: drop-shadow(-0.5vh 0.5vh 0.2vh black);
}
.Lupa{
    
    width: 50%;
    height: 100%;
}
.Lupa img{
    margin-left: 20vh;
    width: 50%;
    height: 80%;
}



.container4{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.description3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255); 
}
.des5{
    font-size: 6vh;
    font-family: 'Aclonica';
    height: 20%;
    width: 80%;
    margin: 0;
    margin-left: 10vh;
    margin-top: 15vh;
}
.des6{
    margin-left: 10vh;
    font-size: 3vh;
    height: 30%;
    width: 70%;
}
.Astronauta{
    width: 50%;
    height: 100%;
}
.Astronauta img{
    
    width: 80%;
    height: 70%;
}



.container5{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.description4{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255); 
}
.des7{
    font-size: 6vh;
    font-family: 'Aclonica';
    height: 20%;
    width: 80%;
    margin-left: 10vh;
    margin-top: 15vh;
}
.des8{
    margin-left: 10vh;
    font-size: 3vh;
    height: 30%;
    width: 70%;
}
.pessoas{
    width: 50%;
    height: 100%;
}
.pessoas img{
    margin-left: 20vh;
    margin-top: 10vh;
    width: 50%;
    height: 60%;
}



.container6{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.description5{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255); 
}
.des9{
    font-size: 6vh;
    font-family: 'Aclonica';
    height: 20%;
    width: 80%;
    margin-left: 10vh;
    margin-top: 15vh;
}
.des10{
    margin-left: 10vh;
    font-size: 3vh;
    height: 30%;
    width: 70%;
}
.torre{
    width: 50%;
    height: 100%;
}
.torre img{
    width: 80%;
    height: 70%;
}