*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background-image: url(fundo.jpg);
    background-repeat:initial;
    background-attachment: fixed;
    background-size:cover;
}
header{
    margin-top: 0.5rem;
}
.container1{ 
    width: 100%;
    height: 90px;
    flex-direction: row ;
    display: flex;
    align-items: center;
}
nav ul li {
    display: inline;
    margin: 15px;
}
nav ul li a {
    text-decoration: none; 
}
.Reviewers {
    margin-left: 1rem;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 1vw 1vw 1vw #000, 0 0 3vw rgb(129, 24, 226), 0 0 3vw rgb(129, 24, 226), 0 0 3vw rgb(129, 24, 226);
    -webkit-text-stroke: 2px #000;
}
.Início {
    color: rgb(255, 255, 255);
    font-size: xx-small;
    margin-left: 16rem;
    text-decoration: underline;
}
.Explorar{
    color: white;
    font-size:medium;
    margin-right: 49px;
}
.Entrar {
    color: white;
    font-size: medium;
    margin-right: 49px;
}
.Cadastrar {
    color: white;
    font-size: medium;
    margin-right: 49px;
}
.Início {
    color: white;
    font-size: medium;
    margin-right: 49px;
}

.Reviewers:hover{
    transition: 0.2s;
    color:rgb(129, 24, 226) ;
}
.Início:hover{
    transition: 0.2s;
    text-decoration: underline;
    color:rgb(129, 24, 226) ;
}
.Explorar:hover{
    transition: 0.2s;
    text-decoration: underline;
    color:rgb(129, 24, 226) ;
}
.Entrar:hover{
    transition: 0.2s;
    text-decoration: underline;
    color:rgb(129, 24, 226) ;
}
.Cadastrar:hover{
    transition: 0.2s;
    text-decoration: underline;
    color:rgb(129, 24, 226) ;
}

.description {
    width: 45%;
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    margin-left: 175px ; 
}

.container2{
    display: flex;
    flex-direction: row;
}
.des1 {
    text-align:center;
    justify-content: baseline;
    border: 1px solid white;
}
.des2 {
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
}

.tabela {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: 188px;
}

.item img {
    border-radius: 15%;
    border: 0;
    filter: drop-shadow(0 0 1rem rgb(129, 24, 226));
    box-shadow: 1px 1px 1rem rgb(129, 24, 226);
}
.container3{
    display: flex;
}
.description2{
    width: 45%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: rgb(255, 255, 255); 
    margin-left: 150px;
}
.des3{
    height: 100px;
    width: 100px;
    border: 1px solid white;
}
.des4{
    height: 200px;
    width: 200px;
    border: 1px solid white;
}
.Lupa{
    margin-left:250px  ;
}
.container4{
    display: flex;
    flex-direction: row;
}
.description3{
    width: 45%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: rgb(255, 255, 255); 
    margin-left: 150px;
}
.des5{
    border: 1px solid white;
    height: 100px;
    width: 100px;
}
.container5{
    display: flex;
    flex-direction: row;
}
.description4{
    width: 45%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: rgb(255, 255, 255); 
    margin-left: 150px;
}
.pessoas{
    margin-left: 10rem;
}