body{   
    background-image: url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
header{
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px #6802ac6b;
    border: 2px solid #6802ac6b;
    border-radius: 30px;
    display: flex;/*dx em linha*/
    align-items: center; /*centraliza tudo em uma linha*/
    color: white; /*cor das letras*/
    margin: 50px 120px 0px 120px;
    padding: 20px; /*define o espaçamento do header*/
    font-family: Arial, sans-serif;/*estilo da letra*/
    position: fixed;
}

.logo{
    margin: 0px 400px 0px 100px;/*250px distancia da logo das pag 100px distancia do cmc do header(esquerda) da logo*/
    font-size: 40px;/*tamanho da font*/
    text-decoration: none;/*linha do <a>*/
    color: white;/*cor da letra*/
    text-shadow:  0 0 10px purple, 0 0 20px purple, 0 0 40px purple, 0 0 80px purple;/*sombra*/
    transition: 0.8s;/*tempo para fazer o hover*/
    
}
.logo:hover{
    scale: 1.1;/*tamanho que vai aumentar*/
}
.cab-direita{
    display: flex;  /*lado a lado*/
    align-items: center;/*centraliza eles na linha*/
    

}
.paginas{
    margin: 0px 50px 0px 0px; /*20px espaço entre eles*/
    text-decoration: none; /*tira linha do <a>*/
    color: white; /*cor da letra*/
    transition: 0.5s; /*tempo para fazer o hover*/
    
}
.paginas:hover{
    color: purple;/*cor da letra*/
    text-decoration-line: underline;/*coloca linha do <a>*/
}

.barra{
    width: 364px;/*largura*/
    height: 43px;/*altura*/
    border-radius: 40px 40px 40px 40px;/*arrendodamento das bordas*/
    font-size: 18px;/*tamanho da letra*/
}
.usuario{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin: 0px 0px 0px 10px; 
}
.fundo-usuario{
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
