*{

    box-sizing: border-box;

}





body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/Cadastro/fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

   
}


.All{
    max-width: 1333px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 30px;
   
    padding: 35px;

   
}

.retangulo {
    display: flex;
    align-items: center;
    backdrop-filter: blur(50px);
    background-color: #21005D;
    top: 0;
    left: 0;
    width: 100%; 
    height: 50px;
    z-index: 1000; 
    padding: 5px;
}

nav{
    background-color: #21005D;
    height: 50px;

}

.botao {
    background-color: #8c00ffc0;
    color: rgb(255, 255, 255);
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
    cursor: pointer; 
    margin:  0px 600px 0px 60px; 
}

.botao:hover {
    background-color: #d607ff5e; 
    transform: scale(1.1);
    transition: 1s;
}



.Sair {
    background-color: #986abdc0; 
    color: rgb(255, 255, 255);
    border: none; 
    border-radius: 5px;
    padding: 10px 15px; 
    cursor: pointer;
    width: 80px;
    height: 38px;}

.Sair:hover {
    background-color: #db0d0d71; 
    
    transition: 1s;
}

.Salvar {
    background-color: #986abdc0; 
    color: rgb(255, 255, 255); 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
    cursor: pointer; 
    width: 80px;
    height: 38px;
}

.Salvar:hover {
    background-color: #00ff40d3; 
    
    transition: 2s;
}



.Foto {
    background-color: #986abdc0; 
    color: rgb(255, 255, 255);
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
    cursor: pointer; 
    
}

.Foto:hover {
    background-color: #aa07d3d3; 
}

#userImage {
width: 175px;
height: 175px;
border-radius: 50%;
object-fit: cover;

}

.subtitulo {

    font-style: italic;
    background-color: rgba(55, 28, 61, 0);
    color: rgba(231, 233, 235, 0.897);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: -5px;
}

.container-display-trio{ 

    width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
gap: 50px;

}

.arrow-back{

    color: white;
    font-size: 30px;
    margin-left: 20px;
    
    }


.block-inputs {

    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 20px;


}

#form-select {


width: 200px !important;
font-size: 18px !important;

color: rgb(255, 255, 255) !important;
background-color: rgb(138, 25, 138) !important;
border-radius: 0.375rem !important ;
border: 1px solid rgb(56, 41, 65) !important;


}

#form-select option {
    background-color: rgba(0, 0, 0, 0.589) !important; 
    color: #ffffff !important; 
    text-align: center  !important; 
    font-size: 16px !important;
}

#form-select::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(38, 9, 58, 0.788);
    background: rgb(137, 111, 150);
}


.container-buttons{

    margin-top: 160px;
display: flex;
gap:20px;
}

.container-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:15px;

}

.block-img{   

flex:1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;


}

img{
border-radius: 50%;
}




.input-style{

width: 300px !important; 
}


.input-style-date{


    width: 150px !important;

}

.font-color{

color: white !important;
font-weight: 500 !important;

}


.block-check-privacy{

    display: flex !important;
    gap: 10px !important;



}

.btn-color-user{


border: 2px solid #6610F2 !important;
color: #6610F2 !important;
font-weight: 600 !important;
background-color: #ffffff !important;

}


.btn-color-user:hover{


    background-color: #6610F2 !important;
    color: #ffffff !important;

}


.btn-left-account{

border: 2px solid #DC3545 !important;
background-color: white !important;
color: #DC3545 !important;
font-weight: 600 !important;


}


.btn-left-account:hover{


    background-color: #DC3545 !important;
    color: #ffffff !important;


}

.btn-save-account{

    border: 2px solid #17c423 !important;
background-color: white !important;
color: #17c423 !important;
font-weight: 600 !important;

}

.btn-save-account:hover{


    background-color: #17c423 !important;
    color: #ffffff !important;


}