*{
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/Cadastro/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;/*estilo da letra*/

}
.container-main {
    /* elemtno que cobre todo o codigo */
    max-width: 100%; /* Largura máxima do site */
    margin: 0  auto; /* Centraliza horizontalmente */
    position: relative;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 120px;
}
/* COMEÇO CABEÇALHO*/
header{
    margin-left: 100px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px #6802ac6b;
    border: 2px solid #6802ac6b;
    border-radius: 30px;
    display: flex;/*dx em linha a logo e a nv*/
    align-items: center; /*centraliza tudo em uma linha*/
    color: white; /*cor das letras*/
    padding: 10px; /*define o espaçamento do header*/
    position: fixed;
    z-index: 9;
}
nav {
    margin-right: 30px;
    display: flex;
    align-items: center;

}
.logo{
    margin: 0px 300px 0px 50px;/*250px distancia da logo das pag 100px distancia do cmc do header(esquerda) da logo*/
    font-size: 30px;/*tamanho da font*/
    text-decoration: none;/*linha do <a>*/
    color: white;/*cor da letra*/
    text-shadow:  0 0 10px purple, 0 0 20px purple, 0 0 40px purple, 0 0 80px purple;/*sombra*/
    transition: 0.2s;/*tempo para fazer o hover*/
    
}
.logo:hover{
    scale: 1.05;/*tamanho que vai aumentar*/
}
.paginas{
    font-size: 15px;
    margin-right: 40px;
    text-decoration: none; /*tira linha do <a>*/
    color: white; /*cor da letra*/
    transition: 0.5s; /*tempo para fazer o hover*/
    
}
.paginas:hover{
    color: #6802ac;/*cor da letra*/
    text-decoration-line: underline;/*coloca linha do <a>*/
}
.barra{
    padding: 0px 20px 0px 20px;
    width: 200px;/*largura*/
    height: 35px;/*altura*/
    border-radius: 40px;
    font-size: 15px;/*tamanho da letra*/
    background-color: transparent;
    border: 1px solid #6802ac;
    color: white;
}

.fundo-usuario{
    margin-left: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #6802ac;
}
/* FIM DO CABEÇALHO*/

/* COMEÇO DO CORPO*/

.quadrado-topo-main{
    display: flex;
}
.quadrado1{
    
    background-color: #240738cf;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
    width: 833px;
    height: 350px;
    border-radius: 40px;
    z-index: 2;
}
.quadrado1.sobreposto {

    z-index: 3;
    backdrop-filter: blur(30px);
    
}
.quadrado2{
    left: 235px;
    background-color: #240738cf;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
    width: 828px;
    height: 350px;
    border-radius: 40px;
    z-index: 1;
    position: absolute;
}
.quadrado2.sobreposto {
    z-index: 3;
    backdrop-filter: blur(30px);
}
.quadrado3{
    left: 400px;
    background-color: #240738cf;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
    width: 828px;
    height: 350px;
    border-radius: 40px;
    z-index: 0;
    position: absolute;
    
}
.quadrado3.sobreposto {
    z-index: 3;
    backdrop-filter: blur(30px);
}
/* quadrado 1 */
.cont-quadrado1{
    display: flex;
    
}
.info-filme{
    padding: 30px;
    color: white;
    font-size: 20px;
}
.filme-quadrado{
    padding: 35px;
    filter: drop-shadow(5px 5px 15px rgb(0, 0, 0));
    width: 300px;
    height:350px;
    border-radius: 70px;
}
.filme-quadrado:hover{
    transition: 1s;
    scale: 1.1;
}
.nota1{
    display: flex;
    justify-content: end;
    margin:-335px 20px 0px 0px;
    color: white;

}
.genero1{
    display: flex;
    border: 1px solid white;
    border-radius: 40px;
    padding: 5px;
    justify-content: center;
    display: inline;
}
/* fim conteudo quadrado 1 */
/* conteudo quadrado 2 */
.nota2{
    display: flex;
    justify-content: end;
    margin:15px 20px 0px 0px;
    color: #BEBEBE;
}
/* fim do conteudo quadrado 2 */
/* conteudo quadrado 3 */
.nota3{
    display: flex;
    justify-content: end;
    margin:15px 20px 0px 0px;
    color: #909090;
}
/* fim conteudo quadrado 3 */
/* começo categorias */
.categorias{
    margin-top: 50px;
    width: 100%;
}
.categorias-1{
    margin: 40px;
    display: flex;
    justify-content: center;
}
.categorias-2{
    margin: 40px;
    display: flex;
    justify-content: center;
}
.categorias-filmes{
    background-color: rgba(128, 0, 128, 0.082);
    margin-right: 30px;
    color: rgb(255, 255, 255);
    border: 3px solid purple;
    border-radius: 40px;
    font-size: 22px;
    padding: 10px;
    font-weight: 600;

    text-decoration: none;
}
/* fim categorias */
.cat-filmes{
    margin-left: 25px;
    width: 137px;
    height: 226px;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}
/* FIM DO CORPO*/
footer {
    color: white; 
    padding: 20px; 
    text-align: center;
}

.container-box-movies{

display: flex;
height: 300px;
border:1px solid white;


}

.container-display-movies{


    display: flex;
    justify-content: center;

}

.container-display-movies img{

   
    object-fit: cover;

}


.bi-chevron-compact-right{

    margin-top: 140px;
    color: #410C64 !important;
    font-size: 40px !important;
    cursor: pointer;

}

#img-movie-display{

    border-radius: 10px;

}

img{

    object-fit: cover;

}


