/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #d40a0a;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

main h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    header, footer {
        text-align: left;
        padding: 20px;
    }

    main {
        padding: 10px;
    }
}
