body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(fundo.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.container1{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(129, 24, 226);
    padding-left: 100px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
fieldset{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 315px;
}
.title1{
    padding-top: 0,13rem;
    color: white;
    padding-left: 34.5rem;
    font-size: xx-large;
}
.title2{
    padding-top: 1rem;
    color: white;
    padding-left: 36.5rem;
    font-size: x-large;
}
input{
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(148, 5, 112);
    
}
.Senha{
    color: white;
}
.E-mail{
    color: white;
}
.Nome{
    color: white;
}
.botão{
    margin-top: 2rem;
}