body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/Cadastro/fundo.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

main{

display: flex;
flex-direction: column;
gap: 20px;
padding: 40px;

max-width: 1336px;
margin: 0 auto;



}

.nav-user{

    background-color: #21005D;
    height: 50px;

}

.arrow-back{

color: white;
font-size: 30px;
margin-left: 20px;

}

.arrow-back:hover{

    color: gray;
    cursor: pointer;
}



/*--------------------------------------------------*/
nav a{
    font-size: 30px;
    text-decoration: none; /*tira linha do <a>*/
    color: white; /*cor da letra*/
    transition: 0.5s; /*tempo para fazer o hover*/
    
}
nav a:hover{
    color: #c37cf3;/*cor da letra*/
    text-shadow: 0 0 50px #c378f5;
    text-decoration-line: underline;/*coloca linha do <a>*/
}

/*-----------------------------------------------------------*/
.info-usuario{

    display: flex;
    flex-direction: column;

    color: white;
    
}

.container-user{

    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1;

}



.user-img{
    background-size: cover;
    border-radius: 50%;
    margin-left: 100px ;
    object-fit: cover;
}
.user-name{
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 0 10px black;
}
.user-bio{

    font-size: 16px;
    text-shadow: 0 0 10px black;
    max-width: 280px;
}





/**/

.container-playlist-duo{


    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.container-playlist-right{


    display: flex;
    flex-direction: column;
    margin-left: 100px;
    

    flex: 1;



}

.container-playlist-left{

    display: flex;
    flex-direction: column;
    margin-left: 100px;

    flex: 1;

    border-right: 1px solid white;



}

.bloco-conteudo{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.281);
    width: 450px;
    margin-top: 20px;
    
}

.list-content{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 15px;
gap: 15px;


}

img{

    border-radius: 10px;



}

.title-list{

    color: white;
    font-size: 22px;
    width: 400px;
    font-weight: 500;



}



.container-reviews{
    margin-top: 50px;


    margin-left: 100px;

}

.arrow-color{

    margin-top: 5px;
    color: white;
    font-size: 22px;

}

.arrow-color:hover{

color: gray;
cursor: pointer;


}

.coment-struct p{


    color:white;

}

.button-color{

    border: 1px solid rgb(0, 0, 0) !important;
    border-radius: 6px !important;
    background-color: #EBE5FC !important;
    color: #6610F2 !important;
    height: 38px !important;


    font-weight: bold !important;

}

.button-color:hover{

    border: 2px solid rgb(83, 75, 197) !important;
    background-color: #a2a1a3 !important;
    color: #6610F2 !important;


}
.container-header{

display: flex;


}

.block-button{

    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 100px;

}


.block-title{

    display: flex;
    width: 450px;
    border-bottom: 1px solid white;
    gap:20px;
    height: 40px;
    margin-top: 20px;

}

.filter-color{

    color: white;
    font-size: 25px;
    cursor: pointer;

}

.container-title-coment{

display: flex;
border-bottom: 1px solid white;
height: 40px;
gap: 20px;
width: 450px;

}

.coment-struct{


    margin-top: 20px;

}

.plus-color{

    color: white;
    font-size: 22px;

}

.plus-color:hover{


    color: gray;
    cursor: pointer;
}

.button-show-more{


display: flex;
justify-content: end;
margin-top: 20px;
margin-right: 70px;

}